<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UnsuckJS</title>
    <link rel="stylesheet" href="{% static 'css/unsuckjs.bulma.min.css' %}">

    <style>
        td div.pos {
            color: green;
            width: 20px;
        }

        td div.neg {
            color: red;
            width: 20px;
        }
    </style>

    <script async src="https://rum.cronitor.io/script.js"></script>
    <script>
        window.cronitor = window.cronitor || function () {
            (window.cronitor.q = window.cronitor.q || []).push(arguments);
        };
        cronitor('config', {
            clientKey: '6ab4dcca87c3de52081650aa6fa88186'
        });
    </script>

    <script defer data-domain="unsuckjs.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                UnsuckJS
            </h1>
            <p class="subtitle">
                Progressively enhance HTML with lightweight JavaScript libraries.
            </p>
        </div>
    </section>

    {% block content %}{% endblock content %}
</body>

</html>