<dj-extends parent='base' />

<dj-block name='title'>UnsuckJS</dj-block>

<dj-block name='headline'>UnsuckJS</dj-block>

<dj-block name='subtitle'>
  Enhance HTML with
  <abbr title="~10 KB or less" aria-label="~10 KB or less" data-microtip-position="top"
    role="tooltip">lightweight</abbr>
  JavaScript (or <a href="https://unsuckcss.com">CSS</a>) libraries.

  <p>
    No build tools, no compilers, and no hassle.
  </p>
</dj-block>

<dj-block name='content'>
  <section class="section">
    <div class="table-container">
      <table class="table">
        {% hydrate_metadata data.js as libraries %}

        <thead>
          <tr>
            <th class="header">Library</th>
            <th class="header" style="min-width: 250px;">Description</th>
            <th class="header">
              <abbr title="Gzipped" aria-label="Gzipped" data-microtip-position="bottom" role="tooltip">Size</abbr>
            </th>
            <th class="header last-commit">Last commit</th>
            <th class="header" style="min-width: 100px;">Version</th>
            <th class="header">License</th>
            <th class="header">Stars</th>
            <dj-#>
              <th class="header">Watchers</th>
              <th class="header">Forks</th>
            </dj-#>
            <th class="header">Issues</th>
            <th class="header">Component</th>
            <th class="header">IE11</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th class="header">Library</th>
            <th class="header">Description</th>
            <th class="header">
              <abbr title="Gzipped" aria-label="Gzipped" data-microtip-position="top" role="tooltip">Size</abbr>
            </th>
            <th class="header">Last commit</th>
            <th class="header">Version</th>
            <th class="header">License</th>
            <th class="header">Stars</th>
            <dj-#>
              <th class="header">Watchers</th>
              <th class="header">Forks</th>
            </dj-#>
            <th class="header">Issues</th>
            <th class="header">Component</th>
            <th class="header">IE11</th>
          </tr>
        </tfoot>
        <tbody>
          {% for library in libraries %}
          <tr>
            <td>
              <!-- Library Name -->
              <div class="header" style="padding-bottom: 4px;">
                {% if library.homepage_url %}
                <a href="{{ library.homepage_url }}">{{ library.name }}</a>
                {% elif library.repo_url %}
                <a href="{{ library.repo_url }}">{{ library.name }}</a>
                {% else %}
                {{ library.name }}
                {% endif %}
              </div>

              {% if library.repo_url %}
              <span>
                <a href="{{ library.repo_url }}">
                  <img src="{% static 'svg/github.svg' %}" class="">
                </a>
              </span>
              {% endif %}

              {% if library.cdn_url %}
              <span>
                <a href="{{ library.cdn_url }}">
                  <img src="{% static 'svg/globe.svg' %}" class="">
                </a>
              </span>
              {% endif %}
            </td>

            <!-- Description -->
            <td>
              {{ library.description|default:'--'|emojize }}
            </td>

            <!-- Minified Size -->
            <td style="text-wrap: nowrap;">
              {{ library.size|default:'--' }}
            </td>

            <!-- Last Commit -->
            <td>
              {{ library.last_commit|humanize_datetime|default:"--" }}
            </td>

            <!-- Version -->
            <td>
              {% if library.latest_tag %}
              <a href="{{ library.repo_url }}/releases/tag/{{ library.latest_tag }}">
                {{ library.latest_version|default:"--"|truncatechars:14 }}
              </a>
              {% else %}
              {{ library.latest_version|default:"--"|truncatechars:14 }}
              {% endif %}
            </td>

            <!-- License -->
            <td>
              {% if library.licenseSpdxId == 'NOASSERTION' %}
              --
              {% elif library.licenseUrl %}
              <a href="{{ library.licenseUrl }}">{{ library.licenseSpdxId }}</a>
              {% elif library.licenseSpdxId %}
              {{ library.licenseSpdxId }}
              {% else %}
              --
              {% endif %}
            </td>

            <!-- Stars -->
            <td>
              {{ library.stars|humanize_int|default:"--" }}
            </td>

            <dj-#>
              <!-- Watchers -->
              <td>
                {{ library.watchers|humanize_int|default:"--" }}
              </td>

              <!-- Forks -->
              <td>
                {{ library.forks|humanize_int|default:"--" }}
              </td>
            </dj-#>

            <!-- Open Issues -->
            <td>
              {% if library.open_issues %}
              <a href="{{ library.repo_url }}/issues">{{ library.open_issues|humanize_int|default:"--" }}</a>
              {% else %}
              {{ library.open_issues|humanize_int|default:"--" }}</a>
              {% endif %}
            </td>

            <!-- Web Components -->
            <td>
              {% if library.web_components is True %}
              <div class="pos">
                ✓
              </div>
              {% elif library.web_components is False %}
              <div class="neg">
                ❌
              </div>
              {% else %}
              <div class="unknown">
                🤷
              </div>
              {% endif %}
            </td>

            <!-- IE11 Compatible -->
            <td>
              {% if library.ie11_compatible is True %}
              <div class="pos">
                ✓
              </div>
              {% elif library.ie11_compatible is False %}
              <div class="neg">
                ❌
              </div>
              {% else %}
              <div class="unknown">
                🤷
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</dj-block>