<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UnsuckJS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <style>
        td div.pos {
            color: green;
            width: 20px;
        }

        td div.neg {
            color: red;
            width: 20px;
        }
    </style>

    <!-- Panelbear Analytics - We respect your privacy -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=KVUfGU3Tp7q"></script>
    <script>
        window.panelbear = window.panelbear || function () {
            (window.panelbear.q = window.panelbear.q || []).push(arguments);
        };
        panelbear('config', {
            site: 'KVUfGU3Tp7q'
        });
    </script>

    <script defer data-domain="unsuckjs.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                UnsuckJS
            </h1>
            <p class="subtitle">
                Progressively enhance HTML with lightweight JavaScript libraries.
            </p>
            <p class="subtitle">
                Fast, minimal, no JavaScript build tools required, and no bullshit.
            </p>
        </div>
    </section>
    <section class="section">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        {% for library in libraries %}

                        {% if library.homepage_url %}
                        <th><a href="{{ library.homepage_url }}">{{ library.name }}</a></th>
                        {% elif library.repo_url %}
                        <th><a href="{{ library.repo_url }}">{{ library.name }}</a></th>
                        {% else %}
                        <th>{{ library.name }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        {% for library in libraries %}
                        <th>{{ library.name }}</th>
                        {% endfor %}
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Description</td>
                        {% for library in libraries %}
                        <td>
                            {{ library.description }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Repo</td>
                        {% for library in libraries %}
                        <td><a href="{{ library.repo_url }}">{{ library.repo_url }}</a></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Size</td>
                        {% for library in libraries %}
                        <td>
                            {{ library.size }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Last commit</td>
                        {% for library in libraries %}
                        <td>
                            {{ library.last_commit|humanize_datetime }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Version</td>
                        {% for library in libraries %}
                        <td>
                            {% if library.latest_tag %}
                            <a
                                href="{{ library.repo_url }}/releases/tag/{{ library.latest_tag }}">{{ library.latest_version|default("n/a", true) }}</a>
                            {% else %}
                            {{ library.latest_version|default("n/a", true) }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    <!--<tr>
                        <td>Commits</td>
                        {% for library in libraries %}
                        <td>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Authors</td>
                        {% for library in libraries %}
                        <td>
                        </td>
                        {% endfor %}
                    </tr>-->
                    <tr>
                        <td>Stars</td>
                        {% for library in libraries %}
                        <td>
                            {{ library.stars|humanize_int|default("n/a", true) }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Watchers</td>
                        {% for library in libraries %}
                        <td>
                            {{ library.watchers|humanize_int|default("n/a", true) }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Forks</td>
                        {% for library in libraries %}
                        <td>
                            {{ library.forks|humanize_int|default("n/a", true) }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Open Issues</td>
                        {% for library in libraries %}
                        <td>
                            {% if library.open_issues %}
                            <a
                                href="{{ library.repo_url }}/issues">{{ library.open_issues|humanize_int|default("n/a", true) }}</a>
                            {% else %}
                            {{ library.open_issues|humanize_int|default("n/a", true) }}</a>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>CDN</td>
                        {% for library in libraries %}
                        <td>
                            {% if library.cdn_url %}
                            <a href="{{ library.cdn_url }}">{{ library.cdn_url }}</a>
                            {% else %}
                            --
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Web Components</td>
                        {% for library in libraries %}
                        <td style="vertical-align: middle;">
                            {% if library.web_components %}
                            <div class="pos">
                                <img src="/static/svg/check.svg">
                            </div>
                            {% else %}
                            <div class="neg">
                                <img src="/static/svg/x.svg">
                            </div>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>IE11 Compatible</td>
                        {% for library in libraries %}
                        <td style="vertical-align: middle;">
                            {% if library.ie11_compatible %}
                            <div class="pos">
                                <img src="/static/svg/check.svg">
                            </div>
                            {% else %}
                            <div class="neg">
                                <img src="/static/svg/x.svg">
                            </div>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</body>

</html>